@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/Gilroy-Medium.ttf') format(truetype);
}
 
@font-face {
    font-family: 'monument';
    src: url('../fonts/Monument/MonumentExtended-Regular.otf') format(opentype);
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    /* color: white; */
}
 
html ,body {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}


.page1 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 207, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(114, 217, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3 {
    width: 100vw;
    height: 100vh;
    background-color: rgb(80, 182, 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: palegoldenrod;
}